* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}

header,
nav,
aside,
footer {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited,
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

body {
    background-color: #f3f8fe;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    padding: 30px 100px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

header .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons button {
    padding: 5px 10px;
    margin-right: 20px;
    border-radius: 5px;
    font-weight: 500;
}

.buttons button:first-child {
    border: 1px solid rgb(133, 133, 133);
    color: rgb(75, 75, 75);
}

.buttons button:last-child {
    display: inline-block;
    color: white;
    background-color: #238cff;
}

.buttons button:first-child:hover {
    background-color: rgb(223, 223, 223);
}

.buttons button:last-child:hover {
    background-color: #1d75d3;
}

.navbar .logo {
    margin-right: 50px;
}

.navbar .logo img {
    width: 25px;
}

.navbar .logo span {
    font-size: 22px;
    font-weight: 600;
    color: #3a3a3a;
    margin-left: 10px;
}

.navbar nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar nav a {
    margin-left: 30px;
    color: #3f3f3f;
    font-weight: 500;
}

.navbar nav a:hover,
.navbar nav a:active {
    color: black;
}

main {
    display: flex;
}

.kvadrat-box {
    width: 20vw;
}

.doira-box {
    width: 20vw;
}

main .kvadrat {
    position: absolute;
    top: 250px;
    left: 90px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-image: linear-gradient(to bottom right, #2c8ffe, #51c0ed);
    transform: rotate(35deg);
}

main .doira {
    position: absolute;
    top: 400px;
    left: 1200px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 5px solid #e7b855;
}

main section h1 {
    font-size: 60px;
    font-weight: 600;
    letter-spacing: -1px;
    margin-bottom: 40px;
    padding-right: 180px;
}

main section article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 40px;
    margin-bottom: 40px;
}

article p {
    margin: 0 200px 0 30px;
    color: rgb(87, 87, 87);
    line-height: 20px;
}

article button {
    width: 190px;
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: 500;
    display: inline-block;
    color: white;
    background-color: #238cff;
}

article button:hover {
    background-color: #1a71ce;
}

.links p{
color: rgb(53, 53, 53);
font-weight: 600;
}

.links img {
    width: 30px;
    margin: 20px 10px;
}

.links div {
    display: flex;
    align-items: center;
}

#image {
    position: absolute;
    top: 300px;
    left: 650px;
    width: 350px;
    height: 330px;
    object-fit: cover;
}